<div class="container">
  <div class="row">
    <div class="col-md-3">
      <img src={{book.image}}>
    </div>
    <div class="col-md-9">
      <p>{{book.title}}</p>
    </div>
    <div class="col-md-1">
      {{reviewStars book.rating}}
    </div>
    <button class="btn btn-xs btn-primary" {{action 'addToFavorite' book}}>Favorite!</button>
  </div>
</div>
