<div class="col-sm-2">
  <div class="col-sm-12">
    <img class="book-image" src={{book.image}}>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <span class="title-author-text">{{bookTitleAuthor}}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <span class="publish-date">Published {{book.date_pub}}</span>
    </div>
  </div>
</div>
