<div class="col-md-3">
  <div class="col-md-4">
    <img class="book-image" src={{book.image}}>
  </div>
  <div class="col-md-8">
    {{bookTitleAuthor}}
  </div>
  <div class="col-md-12">
    {{book.date_pub}}
  </div>
</div>
