<div class="container">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        {{#link-to 'index'}}<a class="navbar-brand"><span class="nav-title">Books</span></a>{{/link-to}}
        {{#link-to 'my-favorites'}}<a class="navbar-right"><span class="nav-favorites">Favorite Books</span></a>{{/link-to}}
      </div>
    </div>
  </nav>
</div>
{{outlet}}
<hr>
<footer>
</footer>
