{{book-detail book=model}}
<div class="container">
  <div class="col-sm-12 review-btn">
    {{new-review-form saveReview="saveReview" book=model}}
  </div>
</div>
<div class="container">
  <div class="col-sm-12">
    {{#each model.reviews as |review|}}
    {{review-tile review=review}}
    {{/each}}
  </div>
</div>
