<div class="row">
  <div class="col-md-6">
    {{#link-to 'new-book'}}<button class="btn btn-sm btn-primary">New Book</button>{{/link-to}}
    {{#each model as |book|}}
      {{index-book-tile book=book}}
    {{/each}}
  </div>
</div>
